<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Zyenex - About</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href=" {% static 'Z_img\zyenex icon2.png' %} " rel="icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href=" {% static '/vendor/aos/aos.css' %} " rel="stylesheet">
  <link href=" {% static '/vendor/bootstrap/css/bootstrap.min.css' %} " rel="stylesheet">
  <link href=" {% static '/vendor/bootstrap-icons/bootstrap-icons.css' %} " rel="stylesheet">
  <link href=" {% static '/vendor/boxicons/css/boxicons.min.css' %} " rel="stylesheet">
  <link href=" {% static '/vendor/glightbox/css/glightbox.min.css' %} " rel="stylesheet">
  <link href=" {% static '/vendor/remixicon/remixicon.css' %} " rel="stylesheet">
  <link href=" {% static '/vendor/swiper/swiper-bundle.min.css' %} " rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href=" {% static '/css/style.css' %} " rel="stylesheet">

  <style>
    #header {
      background-color: black;
      position: sticky;
      top: 0;
      z-index: 1000;
      width: 100%;
    }

    #header .logo img {
      max-height: 100px;
    }

    #main {
      padding-top: 10px; /* Adjust this value to match the height of your header */
    }

    .terms-container {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
        line-height: 1.6;
        font-size: 16px;
      }
  
      .terms-container h1 {
        margin-bottom: 20px;
        font-size: 32px;
      }
  
      .terms-container p {
        margin-bottom: 10px;
      }
  
      .terms-container strong {
        font-weight: bold;
      }
  
      .terms-container ul {
        list-style-type: none;
        padding-left: 0;
      }
  
      .terms-container li {
        margin-bottom: 5px;
      }
  
      .terms-container a {
        color: #007bff;
        text-decoration: none;
      }
  
      .terms-container a:hover {
        text-decoration: underline;
      }
  </style>

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">

      <!-- Uncomment below if you prefer to use an image logo -->
      <a href="/" class="logo"><img src="{% static 'Z_img/zyenex_logo_square-removebg-preview.png' %}" alt="logo" class="img-fluid"></a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto " href="/">Home</a></li>
          <li><a class="nav-link scrollto " href="/about">About</a></li>
          <li><a class="nav-link scrollto active" href="/services">Services</a></li>
          <li><a class="nav-link scrollto " href="/portfolio">Portfolio</a></li>
          <li><a class="nav-link scrollto" href="/contact">Contact</a></li>
          <li><a class="getstarted scrollto" href="/contact">Get Started</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->


    <main id="main">

      <!-- ======= Breadcrumbs ======= -->
      <section id="breadcrumbs" class="breadcrumbs">
          <div class="container">

              <div class="d-flex justify-content-between align-items-center">
                  <h2> DESIGNING</h2>
                  
              </div>

          </div>
      </section><!-- End Breadcrumbs -->


      <section>
        <div class="terms-container" data-aos="fade-up">
          <h1><strong>GRAPHIC DESIGNING</strong></h1>
          
          <p>Graphic designing is a creative process that involves creating visual content to communicate messages. In this field, designers use lines, shapes, colors, textures, and typography to create stunning visuals and effective communication. The principles of graphic designing, such as balance, contrast, emphasis, movement, pattern, proportion, and unity, ensure that the design is aesthetically pleasing and functional.</p>
          <p> 
            On our website, we offer graphic designing services that encompass branding, advertising, logo design, print design, and more. Our goal is to provide your business with a visually impactful identity and engage your audience through compelling designs. </p>
            <br>
          <h5><strong>Elements of Graphic Designing:</strong></h5>
          <br>
          <p><strong>1. Line: </strong>Line is the basic element of design that creates different forms. It can be straight, curved, wavy, thick, thin, etc.</p>
          
          <p><strong>2. Shape: </strong>Shapes can be geometric (square, circle), organic (leaf, flower), or abstract forms that provide structure to the design.</p>
          
          <p><strong>3. Color: </strong>Color is a powerful tool that conveys mood, feeling, and emotion. In color theory, primary, secondary, and tertiary colors are used to create different combinations.
          </p>
          
          <p><strong>4. Texture: </strong>Texture is a visual element that depicts the surface quality and can make the design realistic.</p>
          
          <p><strong>5. Space: </strong>Space is the area between elements in a design. Positive space (around elements) and negative space (empty area) are both important..</p>

          <p><strong>6. Typography: </strong>Typography refers to the style and appearance of text. Different fonts, sizes, and arrangements make the text readable and visually appealing.
          </p>

            <br>
          <h5><strong>Principles of Graphic Designing:</strong></h5>
          <br>

          <p><strong>1. Balance: </strong>Balance makes the design stable and structured. Symmetrical (equal weight) and asymmetrical (unequal weight) balance are both used.</p>
          
          <p><strong>2. Contrast: </strong>Contrast makes different elements distinct. It is achieved through differences in colors, shapes, textures, and sizes.</p>
          
          <p><strong>3. Emphasis: </strong>Emphasis highlights a specific part of the design, known as the focal point.
          </p>
          
          <p><strong>4. Movement: </strong>Movement guides the viewer's eye through the design, ensuring that important elements are focused on first.</p>
          
          <p><strong>5. Pattern: </strong>
             Pattern is a set of repeated elements that creates consistency and rhythm.</p>

          <p><strong>6. Proportion: </strong>Proportion balances the size and scale of different elements.
          </p>

          <p><strong>7. Unity: </strong>Unity makes the design cohesive, ensuring that all elements work harmoniously together.
          </p>
          
          
      
          <br>
          <h5><strong>Applications of Graphic Designing:</strong></h5>
         

          <p>
            Graphic designing has various applications across different industries, such as:</p>
            <br>

          <p><strong>1. Branding and Logo Design: </strong> Creating a strong brand identity that is easily recognizable.</p>
          
          <p><strong>2. Advertising:  </strong>Creating visuals that promote products and services.</p>
          
          <p><strong>3. Print Design: </strong> Designing posters, flyers, brochures, business cards, etc., which are printed in physical form.
          </p>
          
          <p><strong>4. UI/UX Design: </strong> Designing user interfaces that are functional and visually appealing.</p>
          
          


        </div>
      
      

     

  </main><!-- End #main -->



  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <a href="/" class="logo"><img src="{% static 'Z_img/zyenex_logo_square-removebg-preview.png' %}" alt="logo" class="img-fluid"></a>

              <p>
                <strong>Email:</strong> ZynexLLC@gmail.com<br>
              </p>
              <div class="social-links mt-3">
                <a href="https://twitter.com/Zyenex_LLC" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="https://m.facebook.com/groups/316356317150189/" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="https://www.instagram.com/zyenexllc?igsh=dzJtaGFqeDZwY2N3" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="https://www.linkedin.com/company/zyenex/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="/">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/about">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/services">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/portfolio">Portfolio</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/termsofservice">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/privacypolicy">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="/design">Graphics Designs</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/design">Social Media Graphics</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/design">Streamer Artwork</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/marketing">Marketing </a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/web">Web Development</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/software">Software Development</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/app">APP Development </a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/ecommerce">E-Commerece </a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Our Newsletter</h4>
            <p>𝕊𝕦𝕓𝕤𝕔𝕣𝕚𝕓𝕖 𝕥𝕠 𝕠𝕦𝕣 𝕖𝕞𝕒𝕚𝕝𝕤</p>
            <form id="newsletterForm" action="{% url 'subscribe_newsletter' %}" method="post">
                {% csrf_token %}
                <input type="email" name="email" placeholder="Enter your email" required>
                <input type="submit" value="Subscribe">
            </form>
            <div id="newsletterMessage"></div>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>2024</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a href="#">ZYENEX</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src=" {% static '/vendor/purecounter/purecounter_vanilla.js' %} "></script>
  <script src=" {% static '/vendor/aos/aos.js' %} "></script>
  <script src=" {% static '/vendor/bootstrap/js/bootstrap.bundle.min.js' %} "></script>
  <script src=" {% static '/vendor/glightbox/js/glightbox.min.js' %} "></script>
  <script src=" {% static '/vendor/isotope-layout/isotope.pkgd.min.js' %} "></script>
  <script src=" {% static '/vendor/swiper/swiper-bundle.min.js' %} "></script>
  <script src=" {% static '/vendor/php-email-form/validate.js' %} "></script>

  <!-- Template Main JS File -->
  <script src=" {% static '/js/main.js' %} "></script>

</body>

</html>
