<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Zyenex - About</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href=" {% static 'Z_img\zyenex icon2.png' %} " rel="icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href=" {% static '/vendor/aos/aos.css' %} " rel="stylesheet">
  <link href=" {% static '/vendor/bootstrap/css/bootstrap.min.css' %} " rel="stylesheet">
  <link href=" {% static '/vendor/bootstrap-icons/bootstrap-icons.css' %} " rel="stylesheet">
  <link href=" {% static '/vendor/boxicons/css/boxicons.min.css' %} " rel="stylesheet">
  <link href=" {% static '/vendor/glightbox/css/glightbox.min.css' %} " rel="stylesheet">
  <link href=" {% static '/vendor/remixicon/remixicon.css' %} " rel="stylesheet">
  <link href=" {% static '/vendor/swiper/swiper-bundle.min.css' %} " rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href=" {% static '/css/style.css' %} " rel="stylesheet">

  <style>
    #header {
      background-color: black;
      position: sticky;
      top: 0;
      z-index: 1000;
      width: 100%;
    }

    #header .logo img {
      max-height: 100px;
    }

    #main {
      padding-top: 10px; /* Adjust this value to match the height of your header */
    }
  </style>

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">

      <!-- Uncomment below if you prefer to use an image logo -->
      <a href="/" class="logo"><img src="{% static 'Z_img/zyenex_logo_square-removebg-preview.png' %}" alt="logo" class="img-fluid"></a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto " href="/">Home</a></li>
          <li><a class="nav-link scrollto " href="/about">About</a></li>
          <li><a class="nav-link scrollto" href="/services">Services</a></li>
          <li><a class="nav-link scrollto active" href="/portfolio">Portfolio</a></li>
          <li><a class="nav-link scrollto" href="/contact">Contact</a></li>
          <li><a class="getstarted scrollto" href="/contact">Get Started</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->


    <main id="main">

      <!-- ======= Breadcrumbs ======= -->
      <section id="breadcrumbs" class="breadcrumbs">
          <div class="container">

              <div class="d-flex justify-content-between align-items-center">
                  <h2>Portfolio Details</h2>
                  <ol>
                      <li><a href="/">Home</a></li>
                      <li>Portfolio Details</li>
                  </ol>
              </div>

          </div>
      </section><!-- End Breadcrumbs -->

      <!-- ======= Portfolio Details Section ======= -->
      <section id="portfolio-details" class="portfolio-details">
          <div class="container">

              <div class="row gy-4">

                  <div class="col-lg-8">
                      <div class="portfolio-details-slider swiper">
                          <div class="swiper-wrapper align-items-center">

                            <div class="swiper-slide">
                              {% if item.video %}
                                  <video width="100%" controls autoplay muted>
                                      <source src="{{ item.video.url }}" type="video/mp4">
                                      Your browser does not support the video tag.
                                      <a href="{{ item.video.url }}">Download the video</a>
                                  </video>
                              {% else %}
                                  <img src="{{ item.image.url }}" class="img-fluid" alt="{{ item.title }}">
                              {% endif %}
                            </div>

                              <!-- Add more slides if necessary -->

                          </div>
                          <div class="swiper-pagination"></div>
                      </div>
                  </div>

                  <div class="col-lg-4">
                      <div class="portfolio-info">
                          <h3>Project information</h3>
                          <ul>
                              <li><strong>Category</strong>: {{ item.category.name }}</li>
                              <li><strong>Client</strong>: Coming from freelancer</li>
                              <li><strong>Project date</strong>: {{ item.date_added }}</li>
                              <li><strong>Project URL</strong>: <a href="#">www.zyenex.com</a></li>
                          </ul>
                      </div>
                      <div class="portfolio-description">
                          <h2>{{ item.title }}</h2>
                          <p>{{ item.description }}</p>

                        </form>
                      </div>
                  </div>

              </div>

          </div>
      </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->








  {% comment %} <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Portfolio Details</h2>
          <ol>
            <li><a href="/">Home</a></li>
            <li>Portfolio Details</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-8">
            <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                  <img src=" {% static '/img/portfolio/portfolio-1.jpg' %} " alt="">
                </div>

                <div class="swiper-slide">
                  <img src=" {% static '/img/portfolio/portfolio-2.jpg' %} " alt="">
                </div>

                <div class="swiper-slide">
                  <img src=" {% static '/img/portfolio/portfolio-3.jpg' %} " alt="">
                </div>

              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="portfolio-info">
              <h3>Project information</h3>
              <ul>
                <li><strong>Category</strong>: Web design</li>
                <li><strong>Client</strong>: ASU Company</li>
                <li><strong>Project date</strong>: 01 March, 2020</li>
                <li><strong>Project URL</strong>: <a href="#">www.example.com</a></li>
              </ul>
            </div>
            <div class="portfolio-description">
              <h2>This is an example of portfolio detail</h2>
              <p>
                Autem ipsum nam porro corporis rerum. Quis eos dolorem eos itaque inventore commodi labore quia quia. Exercitationem repudiandae officiis neque suscipit non officia eaque itaque enim. Voluptatem officia accusantium nesciunt est omnis tempora consectetur dignissimos. Sequi nulla at esse enim cum deserunt eius.
              </p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main --> {% endcomment %}

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <a href="/" class="logo"><img src="{% static 'Z_img/zyenex_logo_square-removebg-preview.png' %}" alt="logo" class="img-fluid"></a>

              <p>
                <strong>Email:</strong> ZynexLLC@gmail.com<br>
              </p>
              <div class="social-links mt-3">
                <a href="https://twitter.com/Zyenex_LLC" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="https://m.facebook.com/groups/316356317150189/" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="https://www.instagram.com/zyenexllc?igsh=dzJtaGFqeDZwY2N3" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="https://www.linkedin.com/company/zyenex/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="/">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/about">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/services">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/portfolio">Portfolio</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/termsofservice">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/privacypolicy">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="/design">Graphics Designs</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/design">Social Media Graphics</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/design">Streamer Artwork</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/marketing">Marketing </a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/web">Web Development</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/software">Software Development</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/app">APP Development </a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/ecommerce">E-Commerece </a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Our Newsletter</h4>
            <p>𝕊𝕦𝕓𝕤𝕔𝕣𝕚𝕓𝕖 𝕥𝕠 𝕠𝕦𝕣 𝕖𝕞𝕒𝕚𝕝𝕤</p>
            <form id="newsletterForm" action="{% url 'subscribe_newsletter' %}" method="post">
                {% csrf_token %}
                <input type="email" name="email" placeholder="Enter your email" required>
                <input type="submit" value="Subscribe">
            </form>
            <div id="newsletterMessage"></div>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>2024</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a href="#">ZYENEX</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src=" {% static '/vendor/purecounter/purecounter_vanilla.js' %} "></script>
  <script src=" {% static '/vendor/aos/aos.js' %} "></script>
  <script src=" {% static '/vendor/bootstrap/js/bootstrap.bundle.min.js' %} "></script>
  <script src=" {% static '/vendor/glightbox/js/glightbox.min.js' %} "></script>
  <script src=" {% static '/vendor/isotope-layout/isotope.pkgd.min.js' %} "></script>
  <script src=" {% static '/vendor/swiper/swiper-bundle.min.js' %} "></script>
  <script src=" {% static '/vendor/php-email-form/validate.js' %} "></script>

  <!-- Template Main JS File -->
  <script src=" {% static '/js/main.js' %} "></script>

</body>

</html>
