<html lang="en">

<head>
  {% load static %}
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Zyenex - Services</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href=" {% static 'Z_img\zyenex icon2.png' %} " rel="icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href=" {% static '/vendor/aos/aos.css' %} " rel="stylesheet">
  <link href=" {% static '/vendor/bootstrap/css/bootstrap.min.css' %} " rel="stylesheet">
  <link href=" {% static '/vendor/bootstrap-icons/bootstrap-icons.css' %} " rel="stylesheet">
  <link href=" {% static '/vendor/boxicons/css/boxicons.min.css' %} " rel="stylesheet">
  <link href=" {% static '/vendor/glightbox/css/glightbox.min.css' %} " rel="stylesheet">
  <link href=" {% static '/vendor/remixicon/remixicon.css' %} " rel="stylesheet">
  <link href=" {% static '/vendor/swiper/swiper-bundle.min.css' %} " rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href=" {% static '/css/style.css' %} " rel="stylesheet">

  <style>
    #header {
      background-color: black;
      position: sticky;
      top: 0;
      z-index: 1000;
      width: 100%;
    }

    #header .logo img {
      max-height: 100px;
    }

    #main {
      padding-top: 10px; /* Adjust this value to match the height of your header */
    }


    .privacy-container {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
        line-height: 1.6;
        font-size: 16px;
      }
  
      .privacy-container h1 {
        margin-bottom: 20px;
        font-size: 32px;
      }
  
      .privacy-container p {
        margin-bottom: 10px;
      }
  
      .privacy-container strong {
        font-weight: bold;
      }
  
      .privacy-container ul {
        list-style-type: none;
        padding-left: 0;
      }
  
      .privacy-container li {
        margin-bottom: 5px;
      }
  
      .privacy-container a {
        color: #007bff;
        text-decoration: none;
      }
  
      .privacy-container a:hover {
        text-decoration: underline;
      }

  </style>

</head>
<body>


        <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
        <div class="container d-flex align-items-center justify-content-between">

            <!-- Uncomment below if you prefer to use an image logo -->
            <a href="/" class="logo"><img src="{% static 'Z_img/zyenex_logo_square-removebg-preview.png' %}" alt="logo" class="img-fluid"></a>

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto " href="/">Home</a></li>
                    <li><a class="nav-link scrollto " href="/about">About</a></li>
                    <li><a class="nav-link scrollto active" href="/services">Services</a></li>
                    <li><a class="nav-link scrollto" href="/portfolio">Portfolio</a></li>
                    <li><a class="nav-link scrollto" href="/contact">Contact</a></li>
                    <li><a class="getstarted scrollto" href="/contact">Get Started</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

        </div>
    </header><!-- End Header -->
        
    <main id="main">
        <div class="privacy-container" data-aos="fade-up">
          <h1>Privacy Policy for “ZYENEX”</h1>
          <p><strong>1. Introduction</strong></p>
          <p>Welcome to “ZYENEX”. We are committed to protecting your privacy and ensuring that your personal information is handled responsibly. This Privacy Policy outlines the types of information we collect, how we use it, and the choices you have regarding the use of your data.</p>
      
          <p><strong>2. Information We Collect:-</strong></p>
          <p><strong>2.1 Personal Information:</strong></p>
          <ul>
            <li>Name: ZYENEX</li>
            <li>Contact information: ZynexLLC@gmail.com</li>
            <li>Payment details: Credit / Debit Cards, PayPal, CashApp, Venmo</li>
          </ul>
          <p><strong>2.2 Non-Personal Information:</strong></p>
          <ul>
            <li>Cookies and similar technologies</li>
          </ul>
      
          <p><strong>3. How We Use Your Information</strong></p>
          <p>We use the information we collect for various purposes, including but not limited to:</p>
          <ul>
            <li>Processing and fulfilling your orders</li>
            <li>Communicating with you about your orders and promotions</li>
            <li>Improving our products and services</li>
            <li>Analysing website usage and trends</li>
          </ul>
      
          <p><strong>4. Sharing Your Information</strong></p>
          <p>We may share your information with third parties for specific purposes, such as:</p>
          <ul>
            <li>Payment processing</li>
            <li>Shipping and delivery services</li>
            <li>Marketing and advertising partners</li>
          </ul>
          <p>We do not sell or rent your personal information to third parties for their marketing purposes.</p>
      
          <p><strong>5. Your Choices</strong></p>
          <p>You have the right to:</p>
          <ul>
            <li>Access, correct, or delete your personal information</li>
            <li>Opt-out of marketing communications</li>
            <li>Disable cookies through your browser settings</li>
          </ul>
      
          <p><strong>6. Security Measures</strong></p>
          <p>We take reasonable measures to protect your personal information from unauthorized access or disclosure.</p>
      
          <p><strong>7. Changes to This Privacy Policy</strong></p>
          <p>We reserve the right to update our Privacy Policy, and any changes will be posted on this page with an updated effective date.</p>
      
          <p><strong>8. Contact Us</strong></p>
          <p>If you have any questions or concerns about our Privacy Policy, please contact us at ZynexLLC@gmail.com</p>
        </div>
      </main><!-- End #main -->
      






  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <a href="/" class="logo"><img src="{% static 'Z_img/zyenex_logo_square-removebg-preview.png' %}" alt="logo" class="img-fluid"></a>

              <p>
                <strong>Email:</strong> ZynexLLC@gmail.com<br>
              </p>
              <div class="social-links mt-3">
                <a href="https://twitter.com/Zyenex_LLC" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="https://m.facebook.com/groups/316356317150189/" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="https://www.instagram.com/zyenexllc?igsh=dzJtaGFqeDZwY2N3" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="https://www.linkedin.com/company/zyenex/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="/">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/about">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/services">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/portfolio">Portfolio</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/termsofservice">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/privacypolicy">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="/design">Graphics Designs</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/design">Social Media Graphics</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/design">Streamer Artwork</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/marketing">Marketing </a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/web">Web Development</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/software">Software Development</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/app">APP Development </a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/ecommerce">E-Commerece </a></li>
            </ul>
          </div>
          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Our Newsletter</h4>
            <p>𝕊𝕦𝕓𝕤𝕔𝕣𝕚𝕓𝕖 𝕥𝕠 𝕠𝕦𝕣 𝕖𝕞𝕒𝕚𝕝𝕤</p>
            <form id="newsletterForm" action="{% url 'subscribe_newsletter' %}" method="post">
                {% csrf_token %}
                <input type="email" name="email" placeholder="Enter your email" required>
                <input type="submit" value="Subscribe">
            </form>
            <div id="newsletterMessage"></div>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>2024</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a href="#">ZYENEX</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src=" {% static '/vendor/purecounter/purecounter_vanilla.js' %} "></script>
  <script src=" {% static '/vendor/aos/aos.js' %} "></script>
  <script src=" {% static '/vendor/bootstrap/js/bootstrap.bundle.min.js' %} "></script>
  <script src=" {% static '/vendor/glightbox/js/glightbox.min.js' %} "></script>
  <script src=" {% static '/vendor/isotope-layout/isotope.pkgd.min.js' %} "></script>
  <script src=" {% static '/vendor/swiper/swiper-bundle.min.js' %} "></script>
  <script src=" {% static '/vendor/php-email-form/validate.js' %} "></script>

  <!-- Template Main JS File -->
  <script src=" {% static '/js/main.js' %} "></script>

</body>

</html>