<html lang="en">

<head>
  {% load static %}
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Zyenex - Services</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href=" {% static 'Z_img\zyenex icon2.png' %} " rel="icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href=" {% static '/vendor/aos/aos.css' %} " rel="stylesheet">
  <link href=" {% static '/vendor/bootstrap/css/bootstrap.min.css' %} " rel="stylesheet">
  <link href=" {% static '/vendor/bootstrap-icons/bootstrap-icons.css' %} " rel="stylesheet">
  <link href=" {% static '/vendor/boxicons/css/boxicons.min.css' %} " rel="stylesheet">
  <link href=" {% static '/vendor/glightbox/css/glightbox.min.css' %} " rel="stylesheet">
  <link href=" {% static '/vendor/remixicon/remixicon.css' %} " rel="stylesheet">
  <link href=" {% static '/vendor/swiper/swiper-bundle.min.css' %} " rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href=" {% static '/css/style.css' %} " rel="stylesheet">

  <style>
    #header {
      background-color: black;
      position: sticky;
      top: 0;
      z-index: 1000;
      width: 100%;
    }

    #header .logo img {
      max-height: 100px;
    }

    #main {
      padding-top: 10px; /* Adjust this value to match the height of your header */
    }


    .terms-container {
      max-width: 800px;
      margin: 0 auto;
      padding: 20px;
      line-height: 1.6;
      font-size: 16px;
    }

    .terms-container h1 {
      margin-bottom: 20px;
      font-size: 32px;
    }

    .terms-container p {
      margin-bottom: 10px;
    }

    .terms-container strong {
      font-weight: bold;
    }

    .terms-container ul {
      list-style-type: none;
      padding-left: 0;
    }

    .terms-container li {
      margin-bottom: 5px;
    }

    .terms-container a {
      color: #007bff;
      text-decoration: none;
    }

    .terms-container a:hover {
      text-decoration: underline;
    }
  </style>

</head>
<body>


        <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
        <div class="container d-flex align-items-center justify-content-between">

            <!-- Uncomment below if you prefer to use an image logo -->
            <a href="/" class="logo"><img src="{% static 'Z_img/zyenex_logo_square-removebg-preview.png' %}" alt="logo" class="img-fluid"></a>

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto " href="/">Home</a></li>
                    <li><a class="nav-link scrollto " href="/about">About</a></li>
                    <li><a class="nav-link scrollto active" href="/services">Services</a></li>
                    <li><a class="nav-link scrollto" href="/portfolio">Portfolio</a></li>
                    <li><a class="nav-link scrollto" href="/contact">Contact</a></li>
                    <li><a class="getstarted scrollto" href="/contact">Get Started</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

        </div>
    </header><!-- End Header -->
        
    <main id="main">
      <div class="terms-container" data-aos="fade-up">
        <h1>Terms Of Services of “ZYENEX”</h1>
        <p><strong>1. Acceptance of Terms</strong></p>
        <p>By accessing or using “ZYENEX” website and services, you agree to be bound by these Terms and Conditions. If you do not agree with any part of these terms, you should not use our services.</p>
        
        <p><strong>2. Products and Services</strong></p>
        <p>2.1 Product Descriptions: We strive to provide accurate and up-to-date product information. However, we do not warrant that product descriptions or other content on our website are error-free.</p>
        <p>2.2 Pricing: Prices are subject to change without notice. We reserve the right to modify or discontinue products or services at any time.</p>
    
        <p><strong>3. Orders and Payment</strong></p>
        <p>3.1 Order Acceptance: Your order is an offer to purchase our products. We reserve the right to accept or reject orders at our discretion.</p>
        <p>3.2 Payment: Payment is required at the time of purchase. We accept (Credit / Debit Cards, PayPal, CashApp, Venmo).</p>
    
        <p><strong>4. Shipping and Delivery</strong></p>
        <p>4.1 Shipping Policies: Details regarding shipping costs, delivery times, and shipping methods can be found in our Shipping Policy.</p>
        <p>4.2 Delays: We are not responsible for delays in shipping caused by external factors, such as weather conditions or carrier issues.</p>
    
        <p><strong>5. Returns and Exchanges</strong></p>
        <p>5.1 Return Policy: Refer to our Return Policy for information on returns and exchanges, including eligibility criteria and procedures.</p>
    
        <p><strong>6. User Accounts</strong></p>
        <p>6.1 Account Registration: If you create an account with us, you are responsible for maintaining the confidentiality of your account information and password.</p>
        <p>6.2 Termination: We reserve the right to terminate accounts or refuse service at our discretion.</p>
    
        <p><strong>7. Intellectual Property</strong></p>
        <p>All content on our website, including text, images, and logos, is the property of “ZYENEX” and is protected by intellectual property laws.</p>
    
        <p><strong>8. Limitation of Liability</strong></p>
        <p>We are not liable for any direct, indirect, incidental, special, or consequential damages arising out of or in connection with your use of our products or services.</p>
    
        <p><strong>9. Governing Law</strong></p>
        <p>These Terms and Conditions are governed by the laws of [LLC].</p>
    
        <p><strong>10. Changes to Terms and Conditions</strong></p>
        <p>We reserve the right to update these Terms and Conditions, and any changes will be effective upon posting.</p>
    
        <p><strong>11. Contact Information</strong></p>
        <p>If you have any questions or concerns about our Terms and Conditions, please contact us at ZynexLLC@gmail.com</p>
      </div>
    </main><!-- End #main -->
    






  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <a href="/" class="logo"><img src="{% static 'Z_img/zyenex_logo_square-removebg-preview.png' %}" alt="logo" class="img-fluid"></a>

              <p>
                <strong>Email:</strong> ZynexLLC@gmail.com<br>
              </p>
              <div class="social-links mt-3">
                <a href="https://twitter.com/Zyenex_LLC" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="https://m.facebook.com/groups/316356317150189/" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="https://www.instagram.com/zyenexllc?igsh=dzJtaGFqeDZwY2N3" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="https://www.linkedin.com/company/zyenex/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="/">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/about">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/services">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/portfolio">Portfolio</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/termsofservice">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/privacypolicy">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="/design">Graphics Designs</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/design">Social Media Graphics</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/design">Streamer Artwork</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/marketing">Marketing </a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/web">Web Development</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/software">Software Development</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/app">APP Development </a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/ecommerce">E-Commerece </a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Our Newsletter</h4>
            <p>𝕊𝕦𝕓𝕤𝕔𝕣𝕚𝕓𝕖 𝕥𝕠 𝕠𝕦𝕣 𝕖𝕞𝕒𝕚𝕝𝕤</p>
            <form id="newsletterForm" action="{% url 'subscribe_newsletter' %}" method="post">
                {% csrf_token %}
                <input type="email" name="email" placeholder="Enter your email" required>
                <input type="submit" value="Subscribe">
            </form>
            <div id="newsletterMessage"></div>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>2024</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a href="#">ZYENEX</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src=" {% static '/vendor/purecounter/purecounter_vanilla.js' %} "></script>
  <script src=" {% static '/vendor/aos/aos.js' %} "></script>
  <script src=" {% static '/vendor/bootstrap/js/bootstrap.bundle.min.js' %} "></script>
  <script src=" {% static '/vendor/glightbox/js/glightbox.min.js' %} "></script>
  <script src=" {% static '/vendor/isotope-layout/isotope.pkgd.min.js' %} "></script>
  <script src=" {% static '/vendor/swiper/swiper-bundle.min.js' %} "></script>
  <script src=" {% static '/vendor/php-email-form/validate.js' %} "></script>

  <!-- Template Main JS File -->
  <script src=" {% static '/js/main.js' %} "></script>

</body>

</html>